{% extends 'main.html' %}
<!-- Page content -->
{% block content %}
 <!-- Navbar -->
    <nav class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark">
      <div class="container px-4">
        <a class="navbar-brand" href="/">
<!--
          Agency Logo
-->
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-main" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="left">
<!--
            {% if user.is_authenticated %}
                <p>Hi {{ user.username }}
                <a href="/logout" class="text-light">Log out</a>
            {% endif %}
-->
        </div>
      </div>
    </nav>
    <!-- Header -->
    <div class="header py-7 py-lg-8">
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">
            {% if messages %}
              <ul class="messages">
                {% for message in messages %}
                   <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
              </ul>
            {% endif %} 
          </div>
        </div>
      </div>
    </div>
    <div class="container mt--8 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
          <div class="card bg-secondary shadow border-0">
<!--
            <div class="card-header bg-transparent pb-5">
              <div class="text-muted text-center mt-2 mb-3"><small>Sign in with</small></div>
              <div class="btn-wrapper text-center">
                <a href="#" class="btn btn-neutral btn-icon">
                  <span class="btn-inner--icon"><img src="../assets/img/icons/common/github.svg"></span>
                  <span class="btn-inner--text">Github</span>
                </a>
                <a href="#" class="btn btn-neutral btn-icon">
                  <span class="btn-inner--icon"><img src="../assets/img/icons/common/google.svg"></span>
                  <span class="btn-inner--text">Google</span>
                </a>
              </div>
            </div>
-->            
            <div class="card-body px-lg-5 py-lg-5">

              <div class="text-center text-muted mb-4">
                <small>Email Sent</small>
              </div>
                  <h1>Check your inbox.</h1>
                  <p>We've emailed you instructions for setting your password, if an account exists or active with the email you entered. You should receive them shortly.</p>
                  <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
                  <a href="/login">log in page</a>
          </div>
<!--
          <div class="row mt-3">
            <div class="col-6">
              <a href="#" class="text-light"><small>Forgot password?</small></a>
            </div>
            <div class="col-6 text-right">
              <a href="#" class="text-light"><small>Create new account</small></a>
            </div>
          </div>
-->
        </div>
      </div>
    </div>
  </div>
{% endblock %}
