{% extends 'main.html' %}
<!-- Page content -->
{% block content %}
 <!-- Navbar -->
    <nav class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark">
      <div class="container px-4">
<!--
        <a class="navbar-brand" href="/">
          Agency Logo
        </a>
-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-main" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="left">
<!--
            {% if user.is_authenticated %}
                <p>Hi {{ user.username }}
                <a href="/logout" class="text-light">Log out</a>
            {% endif %}
-->
        </div>
      </div>
    </nav>
    <!-- Header -->
    <div class="header py-7 py-lg-8">
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">
            {% if messages %}
              <ul class="messages">
                {% for message in messages %}
                   <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
              </ul>
            {% endif %} 
          </div>
        </div>
      </div>
    </div>
    <div class="container mt--8 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
          <div class="card bg-secondary shadow border-0">
            <div class="card-body px-lg-5 py-lg-5">

              <div class="text-center text-muted mb-4">
                <small>Forgot Password</small>
              </div>
				  <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                      <div class="input-group input-group-alternative mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                        </div>
                        <input type="email" name="email" id="id_email" class="form-control" placeholder="Email" required>
                      </div>
                    </div>
                    
                    
                    <div class="text-center">
					  <button type="submit" class="btn btn-primary mt-4">Forgot Password</button>
					</div>
                  </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
