{% extends 'main.html' %}
{% block content %}
<nav class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark">
      <div class="container px-4">
<!--
        <a class="navbar-brand" href="/">
          Agency Logo
        </a>
-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-main" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-collapse-main">
          <!-- Collapse header -->
          <div class="navbar-collapse-header d-md-none">
            <div class="row">
              <div class="col-6 collapse-brand">
                <a href="../index.html">
<!--
                  <img src="../assets/img/brand/blue.png">
-->
                </a>
              </div>
              <div class="col-6 collapse-close">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                  <span></span>
                  <span></span>
                </button>
              </div>
            </div>
          </div>
          <!-- Navbar items -->

        </div>
      </div>
    </nav>
    <!-- Header -->
    <div class="header py-7 py-lg-8">
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">
<!--
            <div class="col-lg-5 col-md-6">
              <h1 class="text-white">Welcome!</h1>
              <p class="text-lead text-light">Use these awesome forms to login or create new account in your project for free.</p>
            </div>
-->
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
<!--
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
-->
      </div>
    </div>
<!-- Page content -->
    <div class="container mt--8 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
          <div class="card bg-secondary shadow border-0">
<!--
            <div class="card-header bg-transparent pb-5">
              <div class="text-muted text-center mt-2 mb-3"><small>Sign in with</small></div>
              <div class="btn-wrapper text-center">
                <a href="#" class="btn btn-neutral btn-icon">
                  <span class="btn-inner--icon"><img src="../assets/img/icons/common/github.svg"></span>
                  <span class="btn-inner--text">Github</span>
                </a>
                <a href="#" class="btn btn-neutral btn-icon">
                  <span class="btn-inner--icon"><img src="../assets/img/icons/common/google.svg"></span>
                  <span class="btn-inner--text">Google</span>
                </a>
              </div>
            </div>
-->            
            <div class="card-body px-lg-5 py-lg-5">

              <div class="text-center text-muted mb-4">
                <medium>Create Account</medium>
              </div>
				  <form method="post">
					{% csrf_token %}
                        
					  <p>
						<div class="form-group">
						  <div class="input-group input-group-alternative mb-3">
							<div class="input-group-prepend">
							  <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
							</div>
                            <input type="text" name="first_name" id="id_first_name" class="form-control" placeholder="Full Name" required>
							
						  </div>
                            {% for error in form.first_name.errors %}
                              <p style="color: red">{{ error }}</p>
                            {% endfor %}
						</div>
						<div class="form-group">
						  <div class="input-group input-group-alternative mb-3">
							<div class="input-group-prepend">
							  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
							</div>
                            <input type="email" name="email" id="id_email" class="form-control" placeholder="Email" required>
						  </div>
                            {% if form.email.help_text %}
                              <small style="color: grey">{{ form.email.help_text }}</small>
                            {% endif %}
                            {% for error in form.email.errors %}
                              <p style="color: red">{{ error }}</p>
                            {% endfor %}
						</div>
						<div class="form-group">
						  <div class="input-group input-group-alternative mb-3">
							<div class="input-group-prepend">
							  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
							</div>
                            <input type="password" name="password1" required="" placeholder="Password" class="form-control" id="id_password1">
							
						  </div>
                            {% if form.password1.help_text %}
                              <small style="color: grey">{{ form.password1.help_text }}</small>
                            {% endif %}
                            {% for error in form.password1.errors %}
                              <p style="color: red">{{ error }}</p>
                            {% endfor %}
						</div>
                        
						<div class="form-group">
						  <div class="input-group input-group-alternative mb-3">
							<div class="input-group-prepend">
							  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
							</div>
                            <input type="password" name="password2" required="" placeholder="Password Confirmation" class="form-control" id="id_password2">
							
						  </div>
                            {% if form.password2.help_text %}
                              <small style="color: grey">{{ form.password2.help_text }}</small>
                            {% endif %}
                            {% for error in form.password2.errors %}
                              <p style="color: red">{{ error }}</p>
                            {% endfor %}
						</div>
<!--
						{% if form.help_text %}
						  <small style="color: grey">{{ form.help_text }}</small>
						{% endif %}
						{% for error in form.errors %}
						  <p style="color: red">{{ error }}</p>
						{% endfor %}
-->
					  </p>
					<div class="row my-4">
					  <div class="col-12">
						<div class="custom-control custom-control-alternative custom-checkbox">
						  <input type="hidden" name="terms" value="false">
						  <input class="custom-control-input" id="customCheckRegister" type="checkbox" name = "terms" value="true">
						  <label class="custom-control-label" for="customCheckRegister"  >
							<span class="text-muted">I agree with the <a href="#!">Privacy Policy</a></span>
						  </label>
						</div>
                        {% if form.terms.help_text %}
                            <small style="color: grey">{{ form.terms.help_text }}</small>
                        {% endif %}
                        {% for error in form.terms.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
					  </div>
					</div>
					<div class="text-center">
					  <button type="submit" class="btn btn-primary mt-4">Create account</button>
					</div>
				  </form>
          </div>
<!--
          <div class="row mt-3">
            <div class="col-6">
              <a href="#" class="text-light"><small>Forgot password?</small></a>
            </div>
            <div class="col-6 text-right">
              <a href="#" class="text-light"><small>Create new account</small></a>
            </div>
          </div>
-->
        </div>
      </div>
    </div>
  </div>
{% endblock %}
