{% extends 'base.html' %}
<!-- Page content -->
{% block content %}
<nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
    <div class="container-fluid">
<!--
        <a class="navbar-brand" href="/">
          Agency Logo
        </a>    
-->
      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Brand -->
      <a class="navbar-brand pt-0" href="/">
        Agency Logo  
<!--
        <img src="./assets/img/brand/blue.png" class="navbar-brand-img" alt="...">
-->
      </a>
      
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Collapse header -->
        <div class="navbar-collapse-header d-md-none">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a href="./index.html">
                <img src="./assets/img/brand/blue.png">
              </a>
            </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        <!-- Form -->
        <form class="mt-4 mb-3 d-md-none">
          <div class="input-group input-group-rounded input-group-merge">
            <input type="search" class="form-control form-control-rounded form-control-prepended" placeholder="Search" aria-label="Search">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <span class="fa fa-search"></span>
              </div>
            </div>
          </div>
        </form>
        <!-- Navigation -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">
              <i class="ni ni-tv-2 text-primary"></i> Dashboard
            </a>
          </li>
<!--
          <li class="nav-item">
            <a class="nav-link" href="./examples/icons.html">
              <i class="ni ni-planet text-blue"></i> Icons
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./examples/maps.html">
              <i class="ni ni-pin-3 text-orange"></i> Maps
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./examples/profile.html">
              <i class="ni ni-single-02 text-yellow"></i> User profile
            </a>
          </li>
-->
          <li class="nav-item">
            <a class="nav-link" href="/settings">
              <i class="ni ni-bullet-list-67 text-red"></i> Settings
            </a>
          </li>
<!--
          <li class="nav-item">
            <a class="nav-link" href="./examples/login.html">
              <i class="ni ni-key-25 text-info"></i> Login
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./examples/register.html">
              <i class="ni ni-circle-08 text-pink"></i> Register
            </a>
          </li>
-->
        </ul>
        <!-- Divider -->
        <hr class="my-3">
        <!-- Navigation -->
        <ul class="navbar-nav mb-md-3">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="ni ni-badge"></i> Client Name 1
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="ni ni-badge"></i> Client Name 2
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="ni ni-badge"></i> Client Name 3
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="ni ni-fat-add"></i> Add Client
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Main content -->
  <div class="main-content">
    <!-- Top navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
      <div class="container-fluid">
      
        <ul class="navbar-nav align-items-center d-none d-md-flex">
          <li class="nav-item dropdown">
            <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				 <h2>Add Client</h2>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Header -->
    <div class="header bg-gradient-primary traffic-plan pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
          <div class="row">
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Traffic</h5>
                      <span class="h2 font-weight-bold mb-0">350,897</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                        <i class="fas fa-chart-bar"></i>
                      </div>
                    </div>
                  </div>
<!--
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                    <span class="text-nowrap">Since last month</span>
                  </p>
-->
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">New users</h5>
                      <span class="h2 font-weight-bold mb-0">2,356</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                        <i class="fas fa-chart-pie"></i>
                      </div>
                    </div>
                  </div>
<!--
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>
                    <span class="text-nowrap">Since last week</span>
                  </p>
-->
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Avg Position</h5>
                      <span class="h2 font-weight-bold mb-0">924</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                        <i class="fas fa-users"></i>
                      </div>
                    </div>
                  </div>
<!--
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>
                    <span class="text-nowrap">Since yesterday</span>
                  </p>
-->
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Bounce Rate</h5>
                      <span class="h2 font-weight-bold mb-0">49,65%</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                        <i class="fas fa-percent"></i>
                      </div>
                    </div>
                  </div>
<!--
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                    <span class="text-nowrap">Since last month</span>
                  </p>
-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7 business-visit">
      <div class="row">
        <div class="col-xl-7 mb-5 mb-xl-0">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Businesses Visiting your Website</h3>
                </div>
                <div class="col text-right">
                  <a href="#!" class="btn btn-primary btn-sm">Export</a>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col"><input class="check_dashboard" type="checkbox"/> </th>
                    <th scope="col">Lead Name</th>
                    <th scope="col">Source</th>
                    <th scope="col">Country</th>
                    <th scope="col">Date of last visit</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">
                      <input class="check_dashboard" type="checkbox"/>
                    </th>
                    <th scope="row">
                      Deloitte Inc.
                    </th>
                    <td>
                      Google
                    </td>
                    <td>
                      United States
                    </td>
                    <td>
                      26 Nov 2018
                    </td>
                    <td>
                      <i class="ni ni-basket"></i>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      <input class="check_dashboard" type="checkbox"/>
                    </th>
                    <th scope="row">
                      Deloitte Inc.
                    </th>
                    <td>
                      Google
                    </td>
                    <td>
                      United States
                    </td>
                    <td>
                      26 Nov 2018
                    </td>
                    <td>
                      <i class="ni ni-basket"></i>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      <input class="check_dashboard" type="checkbox"/>
                    </th>
                    <th scope="row">
                      Deloitte Inc.
                    </th>
                    <td>
                      Google
                    </td>
                    <td>
                      United States
                    </td>
                    <td>
                      26 Nov 2018
                    </td>
                    <td>
                      <i class="ni ni-basket"></i>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      <input class="check_dashboard" type="checkbox"/>
                    </th>
                    <th scope="row">
                      Deloitte Inc.
                    </th>
                    <td>
                      Google
                    </td>
                    <td>
                      United States
                    </td>
                    <td>
                      26 Nov 2018
                    </td>
                    <td>
                      <i class="ni ni-basket"></i>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      <input class="check_dashboard" type="checkbox"/>
                    </th>
                    <th scope="row">
                      Deloitte Inc.
                    </th>
                    <td>
                      Google
                    </td>
                    <td>
                      United States
                    </td>
                    <td>
                      26 Nov 2018
                    </td>
                    <td>
                      <i class="ni ni-basket"></i>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      <input class="check_dashboard" type="checkbox"/>
                    </th>
                    <th scope="row">
                      Deloitte Inc.
                    </th>
                    <td>
                      Google
                    </td>
                    <td>
                      United States
                    </td>
                    <td>
                      26 Nov 2018
                    </td>
                    <td>
                      <i class="ni ni-basket"></i>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      <input class="check_dashboard" type="checkbox"/>
                    </th>
                    <th scope="row">
                      Deloitte Inc.
                    </th>
                    <td>
                      Google
                    </td>
                    <td>
                      United States
                    </td>
                    <td>
                      26 Nov 2018
                    </td>
                    <td>
                      <i class="ni ni-basket"></i>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      <input class="check_dashboard" type="checkbox"/>
                    </th>
                    <th scope="row">
                      Deloitte Inc.
                    </th>
                    <td>
                      Google
                    </td>
                    <td>
                      United States
                    </td>
                    <td>
                      26 Nov 2018
                    </td>
                    <td>
                      <i class="ni ni-basket"></i>
                    </td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-end">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1">
                    <i class="fa fa-angle-left"></i>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">
                    <i class="fa fa-angle-right"></i>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="col-xl-5">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Top Channels</h3>
                </div>
                <div class="col text-right">
                  <a href="#!" class="btn btn-primary btn-sm">Export</a>
                </div>
              </div>
            </div>
            <div class="table-responsive side_bar">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">#Users</th>
                    <th scope="col">#Sessions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">
                      1.
                    </th>
                    <th scope="row">
                      Direct
                    </th>
                    <td>
                      35
                    </td>
                    <td>
                      95
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      2.
                    </th>
                    <th scope="row">
                      Direct
                    </th>
                    <td>
                      35
                    </td>
                    <td>
                      95
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      3.
                    </th>
                    <th scope="row">
                      Direct
                    </th>
                    <td>
                      35
                    </td>
                    <td>
                      95
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      4.
                    </th>
                    <th scope="row">
                      Direct
                    </th>
                    <td>
                      35
                    </td>
                    <td>
                      95
                    </td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
          </div>
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Top Channels</h3>
                </div>
                <div class="col text-right">
                  <a href="#!" class="btn btn-primary btn-sm">Export</a>
                </div>
              </div>
            </div>
            <div class="table-responsive side_bar_source">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">#Users</th>
                    <th scope="col">#Sessions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">
                      1.
                    </th>
                    <th scope="row">
                      Direct
                    </th>
                    <td>
                      35
                    </td>
                    <td>
                      95
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      2.
                    </th>
                    <th scope="row">
                      Direct
                    </th>
                    <td>
                      35
                    </td>
                    <td>
                      95
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      3.
                    </th>
                    <th scope="row">
                      Direct
                    </th>
                    <td>
                      35
                    </td>
                    <td>
                      95
                    </td>
                  </tr>
                  
                  
                </tbody>
              </table>
            </div>
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-end">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1">
                    <i class="fa fa-angle-left"></i>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">
                    <i class="fa fa-angle-right"></i>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    <div class="row col-xl-10 offset-md-2">
        
        <div class="nav-wrapper">
        <ul class="nav nav-pills nav-fill flex-column flex-sm-row" id="tabs-text" role="tablist">
          <li class="nav-item">
            <a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-text-1-tab" data-toggle="tab" href="#tabs-text-1" role="tab" aria-controls="tabs-text-1" aria-selected="true">Queries</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mb-sm-3 mb-md-0" id="tabs-text-2-tab" data-toggle="tab" href="#tabs-text-2" role="tab" aria-controls="tabs-text-2" aria-selected="false">Website Pages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mb-sm-3 mb-md-0" id="tabs-text-3-tab" data-toggle="tab" href="#tabs-text-3" role="tab" aria-controls="tabs-text-3" aria-selected="false">Countries</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mb-sm-3 mb-md-0" id="tabs-text-3-tab" data-toggle="tab" href="#tabs-text-3" role="tab" aria-controls="tabs-text-3" aria-selected="false">Devices</a>
          </li>
        </ul>    
        </div>
        <div class="col-xl-10 mb-5 mb-xl-0">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                  <h3 class="mb-0">Top Google Searvhes driving traffic to your website</h3>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Queries</th>
                    <th scope="col">Clicks</th>
                    <th scope="col">Impressions</th>
                    <th scope="col">CTR</th>
                    <th scope="col">Position</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">
                      1:
                    </th>
                    <th scope="row">
                      B2B Services in the Boston Area
                    </th>
                    <td>
                      46
                    </td>
                    <td>
                      159
                    </td>
                    <td>
                     5.6
                    </td>
                    <td>
                     1.2
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      2:
                    </th>
                    <th scope="row">
                      B2B Services in the Boston Area
                    </th>
                    <td>
                      46
                    </td>
                    <td>
                      159
                    </td>
                    <td>
                     5.6
                    </td>
                    <td>
                     1.2
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
           
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-end">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1">
                    <i class="fa fa-angle-left"></i>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">
                    <i class="fa fa-angle-right"></i>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
{% endblock %}
