<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Start your development with a Dashboard for Bootstrap 4.">
  <meta name="author" content="Creative Tim">
  <title>White Label</title>
 
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" rel="stylesheet">
  <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet">
  <link href="https://cdn.datatables.net/buttons/1.5.4/css/buttons.dataTables.min.css" rel="stylesheet">
{% load static %}
  <link rel="stylesheet" href="{% static 'css/argon.min.css' %}">
   <!-- Icons -->
  <link rel="stylesheet" href="{% static 'css/icons/nucleo.css' %}">
  <link rel="stylesheet" href="{% static 'css/icons/fontawesome/all.min.css' %}">
  <script src="{% static 'js/jquery/jquery.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
  
  <script>
	$(function(){
		$.ajaxSetup({
			beforeSend: function (xhr, settings) {
				xhr.setRequestHeader("X-CSRFToken", $(":input[name='csrfmiddlewaretoken']").val());
			}
		});
	})
  </script>
</head>

<body class="bg-default">
  {% csrf_token %}
{% if user.is_authenticated %}
<nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
    <div class="container-fluid">
<!--
        <a class="navbar-brand" href="/">
          Agency Logo
        </a>    
-->
      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Brand -->
      <a class="navbar-brand pt-0" href="/">
        Agency Logo  
<!--
        <img src="./assets/img/brand/blue.png" class="navbar-brand-img" alt="...">
-->
      </a>
      
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Collapse header -->
        <div class="navbar-collapse-header d-md-none">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a href="./index.html">
<!--
                <img src="./assets/img/brand/blue.png">
-->
              </a>
            </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        <!-- Form -->
        <form class="mt-4 mb-3 d-md-none">
          <div class="input-group input-group-rounded input-group-merge">
            <input type="search" class="form-control form-control-rounded form-control-prepended" placeholder="Search" aria-label="Search">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <span class="fa fa-search"></span>
              </div>
            </div>
          </div>
        </form>
        <!-- Navigation -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">
              <i class="ni ni-tv-2 text-primary"></i> Dashboard
            </a>
          </li>
<!--
          <li class="nav-item">
            <a class="nav-link" href="./examples/icons.html">
              <i class="ni ni-planet text-blue"></i> Icons
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./examples/maps.html">
              <i class="ni ni-pin-3 text-orange"></i> Maps
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./examples/profile.html">
              <i class="ni ni-single-02 text-yellow"></i> User profile
            </a>
          </li>
-->
          <li class="nav-item">
            <a class="nav-link" href="/settings">
              <i class="ni ni-bullet-list-67 text-red"></i> Settings
            </a>
          </li>
<!--
          <li class="nav-item">
            <a class="nav-link" href="./examples/login.html">
              <i class="ni ni-key-25 text-info"></i> Login
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./examples/register.html">
              <i class="ni ni-circle-08 text-pink"></i> Register
            </a>
          </li>
-->
        </ul>
        <!-- Divider -->
        <hr class="my-3">
        <!-- Navigation -->
        <ul class="navbar-nav mb-md-3">
		{% if user.profile.is_agency == True %}
			{% for clients in Companies %}
			
				 <li class="nav-item">
					<a class="nav-link" href="/dashboard?client_id={{clients.company_id}}" data-dashboard_client="{{clients.company_id}}">
					  <i class="ni ni-badge"></i> {{clients.company.company_name}}
					</a>
				 </li>
			{% endfor%}
        {% elif user.profile.is_agency == False %}
			{% for clients in Companies %}
				{% if clients.user_id == user.id %}
					<li class="nav-item">
						<a class="nav-link dasshboard_clients" href="/dashboard?client_id={{clients.company_id}}" data-dashboard_client="{{clients.company_id}}">
						  <i class="ni ni-badge"></i> {{clients.company.company_name}}
						</a>
					</li>
				{% endif %}
			{% endfor%}
		{% endif %}
<!--
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="ni ni-badge"></i> Client Name 1
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="ni ni-badge"></i> Client Name 2
            </a>
          </li>
-->		
		{% if user.profile.is_agency == True %}
          <li class="nav-item">
            <a class="nav-link" href="#"  data-toggle="modal" data-target="#profileModal">
              <i class="ni ni-fat-add"></i> Add Client
            </a>
          </li>
        {% endif %}
        </ul>
      </div>
    </div>
  </nav>
{% else %}
	
{% endif %}
    {% block content %}
    {% endblock %}

  <!-- Footer -->
<footer class="py-5">
    <div class="container">
      <div class="row align-items-center justify-content-xl-between">
      </div>
    </div>
</footer>
<!-- Modal -->
<div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered profile_width" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="profileModalLabel">Add New Client</h5>
<!--
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
-->
      </div>
      <form action="/add_client" method="post" id="profile_form">
	  {% csrf_token %}
      <div class="modal-body">
        <input type="text" class="form-control" placeholder="Client Name" id ="company_name" name="companyName" required>
      </div>
      <div class="modal-footer">
		<button type="button" className="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" id="submitForm" class="btn btn-primary">Save changes</button>
      </div>
      </form>
    </div>
  </div>
</div>
<script>
/* must apply only after HTML has loaded */
$(document).ready(function () {
	setTimeout(function() {
		$('.messages').fadeOut('fast');
	}, 5000);
	$('#profile_form').validate({
		rules: {
			companyName: {
				required: true,
			}
		},
		messages:{
			companyName: {
				required: "Please enter a client name.",
			}
		}
	});
    $("#profile_form").off('submit').on("submit", function(e) {
	e.preventDefault();
	if(!$("#profile_form").valid()) return;
		$("#submitForm", this).val("Please Wait...").attr('disabled', 'disabled');
        var formURL = $(this).attr("action");
        //~ console.log(formURL)
        var formData = $("#company_name").val();
        $.ajax({
            url: formURL,
            type: "POST",
            data: { formData:formData },
            success: function(response) {
			$("#submitForm", this).val("Please Wait...").attr('disabled', 'disabled');
			  setTimeout(function() {
				   window.location.reload();
			  },0);
               $('#profileModal').modal('toggle');
            },
            error: function(er) {
                console.log(er);
            }
        });
        
		// Coding
		 //or  $('#IDModal').modal('hide');
		//~ return false;
		});
});
</script>
  <!-- Argon Scripts -->
  <!-- Core -->
   <script src="{% static 'js/bootstrap/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<!--
  
https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js
https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js
https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js
-->

  <script src="https://cdn.datatables.net/buttons/1.5.4/js/dataTables.buttons.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.5.4/js/buttons.html5.min.js"></script>
  <!-- Argon JS -->
  <script src="{% static 'js/argon.js' %}" type="text/javascript"></script>
  
</body>

</html>
