{% extends 'base.html' %}
<!-- Page content -->
{% block content %}
{% if user.is_authenticated and auth_credentials != None and user.is_superuser == False %}
  <!-- Main content -->
  <div class="main-content " id="main">
<!--
		<div class="form-group mb-0">
			<a href="" class="btn btn-success connect-account">Connected</a>
		</div>
-->
	
    <!-- Top navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
      <div class="container-fluid">
        <!-- Brand -->
	  <form> <input type="hidden" value="{{client_id}}" class="dashboard_clients"  > </form>
	  {% if companyName == None %}
		<a class="h3 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="/dashboard">{{ user.first_name }}</a>
	  {% else %}
		<a class="h3 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="/dashboard">{{ companyName.company_name }}</a>
	  {% endif %}
            <div class="form-group mb-0 companyUser">
<!--
            <p class="h5 mb-0 text-white d-none d-lg-inline-block">Is	data not showing? Please connect your google account in the Settings here.</p>
-->
            </div>
<!--
          <div class="form-group mb-0">
            <div class="input-group">
              <p>Is	data not showing? Please connect your google account in the Settings here.</p>
            </div>
          </div>
-->
        <!-- User -->
        <ul class="navbar-nav align-items-center d-none d-md-flex">
          <li class="nav-item dropdown">
            <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<div class="input-daterange datepicker row align-items-center date_range" id="date_range">
				<div class="col">
					<div class="form-group">
						<div class="input-group input-group-alternative">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
							</div>
							<input class="form-control start_date" placeholder="Start date" type="text"  id="startdate">
						</div>
					</div>
				</div>
				<div class="col">
					<div class="form-group">
						<div class="input-group input-group-alternative">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
							</div>
							<input class="form-control end_date" placeholder="End date" type="text"  id ="enddate">
						</div>
					</div>
				</div>
			</div>
<!--
            <div class="input-daterange datepicker row align-items-center">
                <div class="col">
                    <div class="form-group">
                        <div class="input-group input-group-alternative date_range">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                            </div>
                            <input class="form-control start_date" placeholder="Start date" type="text" id="startdate">
                            <input class="form-control end_date" placeholder="End date" type="text" id ="enddate">
                        </div>
                    </div>
                </div>
            </div>
-->
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Header -->
<div class="dashboard load" id="loader">
			<div class="m-2 text-center"><img  alt="loader" src="../static/images/loader.gif"></div>
</div>
	<div class="dashboard" id="dashboard_data" >
		<div class="header bg-gradient-primary traffic-plan pb-8 pt-5 pt-md-8" id="dashboard_traffic">
		  <div class="container-fluid">
			<div class="header-body">
			  <!-- Card stats -->
			  <div class="row">
				<div class="col-xl-3 col-lg-6">
				  <div class="card card-stats mb-4 mb-xl-0">
					<div class="card-body">
					  <div class="row">
						<div class="col">
						  <h5 class="card-title text-uppercase text-muted mb-0">Traffic</h5>
						  <span class="h2 font-weight-bold mb-0 traffic"></span>
						</div>
						<div class="col-auto">
						  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
							<i class="fas fa-chart-bar"></i>
						  </div>
						</div>
					  </div>
	<!--
					  <p class="mt-3 mb-0 text-muted text-sm">
						<span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
						<span class="text-nowrap">Since last month</span>
					  </p>
	-->
					</div>
				  </div>
				</div>
				<div class="col-xl-3 col-lg-6">
				  <div class="card card-stats mb-4 mb-xl-0">
					<div class="card-body">
					  <div class="row">
						<div class="col">
						  <h5 class="card-title text-uppercase text-muted mb-0">New users</h5>
						 
							

						  <span class="h2 font-weight-bold mb-0 users"></span>

						 
						</div>
						<div class="col-auto">
						  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
							<i class="fas fa-chart-pie"></i>
						  </div>
						</div>
					  </div>
	<!--
					  <p class="mt-3 mb-0 text-muted text-sm">
						<span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>
						<span class="text-nowrap">Since last week</span>
					  </p>
	-->
					</div>
				  </div>
				</div>
				<div class="col-xl-3 col-lg-6">
				  <div class="card card-stats mb-4 mb-xl-0">
					<div class="card-body">
					  <div class="row">
						<div class="col">
						  <h5 class="card-title text-uppercase text-muted mb-0">Avg Position</h5>
						  <span class="h2 font-weight-bold mb-0 avg_position"></span>
						</div>
						<div class="col-auto">
						  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
							<i class="fas fa-users"></i>
						  </div>
						</div>
					  </div>
	<!--
					  <p class="mt-3 mb-0 text-muted text-sm">
						<span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>
						<span class="text-nowrap">Since yesterday</span>
					  </p>
	-->
					</div>
				  </div>
				</div>
				<div class="col-xl-3 col-lg-6">
				  <div class="card card-stats mb-4 mb-xl-0">
					<div class="card-body">
					  <div class="row">
						<div class="col">
						  <h5 class="card-title text-uppercase text-muted mb-0">Bounce Rate</h5>
						  <span class="h2 font-weight-bold mb-0 bounce_rate"></span>
						</div>
						<div class="col-auto">
						  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
							<i class="fas fa-percent"></i>
						  </div>
						</div>
					  </div>
	<!--
					  <p class="mt-3 mb-0 text-muted text-sm">
						<span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
						<span class="text-nowrap">Since last month</span>
					  </p>
	-->
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
    <!-- Page content -->
		<div class="container-fluid mt--7 business-visit">
		  <div class="row">
			<div class="col-xl-7 mb-5 mb-xl-0">
			  <div class="card shadow leads">
				<div class="card-header bg-transparent">
				  <div class="row align-items-center">
					<div class="col-md-10">
					  <h3 class="mb-0">Businesses Visiting your Website</h3>
					</div>
					<div class="col-md-2 text-right" id="buttons_leads">
<!--
					  <a href="#!" class="btn btn-primary btn-sm">Export</a>
-->
					</div>
				  </div>
				</div>
				<div class="table-responsive leads_table">
				  <!-- Projects table -->
				  <table class="table table-striped table-bordered dt-responsive" style="width:100%" id ="data_lead">
					<thead class="thead-light lead-contes">
					  <tr>
						<th scope="col"><input class="chk_all" type="checkbox" id="check_all"/> </th>
						<th scope="col">Lead Name</th>
						<th scope="col">Source</th>
						<th scope="col">Country</th>
						<th scope="col">Date of last visit</th>
						<th scope="col"></th>
					  </tr>
					</thead>
				  </table>
				</div>
			  </div>
			</div>
			<div class="col-xl-5">
			  <div class="card shadow channel">
				<div class="card-header bg-transparent">
				  <div class="row align-items-center">
					<div class="col-md-9">
					  <h3 class="mb-0">Top Channels</h3>
					</div>
					<div class="col-md-3 text-right" id="buttons_channels">
					  
					</div>
				  </div>
				</div>
				<div class="table-responsive side_bar">
				  <!-- Projects table -->
				  <table class="table table-striped table-bordered dt-responsive" style="width:100%" id="data_channel">
					<thead class="thead-light">
					  <tr>
						<th scope="col"></th>
						<th scope="col"></th>
						<th scope="col">#Users</th>
						<th scope="col">#Sessions</th>
					  </tr>
					</thead>
				  </table>
				</div>
			  </div>
			  <div class="card shadow source">
				<div class="card-header bg-transparent">
				  <div class="row align-items-center">
					<div class="col-md-9">
					  <h3 class="mb-0">Top Sources</h3>
					</div>
					<div class="col-md-3 text-right" id="buttons_source">
<!--
					  <a href="#!" class="btn btn-primary btn-sm">Export</a>
-->
					</div>
				  </div>
				</div>
				<div class="table-responsive side_bar_source">
				  <!-- Projects table -->
				  <table class="table table-striped table-bordered dt-responsive" style="width:100%" id="data_scope">
					<thead class="thead-light">
					  <tr>
						<th scope="col"></th>
						<th scope="col"></th>
						<th scope="col">#Users</th>
						<th scope="col">#Sessions</th>
					  </tr>
					</thead>
<!--
					<tbody class = "sources">
					{% for data in sources %}
					  <tr>
						<th scope="row">
						</th>
						<th scope="row">
						  {{data.0|truncatewords:"2"}}
						</th>
						<td>
						  {{data.1}}
						</td>
						<td>
						  {{data.2}}
						</td>
					  </tr>
					{% endfor %}
					</tbody>
-->
				  </table>
				</div>
				
			  </div>
			</div>
		  </div>
		<div class="row col-xl-10 offset-md-2">
			<div class="nav-wrapper">  
				<ul class="nav nav-pills nav-fill flex-column flex-sm-row" id="tabs-icons-text" role="tablist">
				  <li class="nav-item">
					<a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-icons-text-1-tab" data-toggle="tab" href="#tabs-icons-text-1" role="tab" aria-controls="tabs-icons-text-1" aria-selected="true">Queries</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-2-tab" data-toggle="tab" href="#tabs-icons-text-2" role="tab" aria-controls="tabs-icons-text-2" aria-selected="false">Website Pages</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-3-tab" data-toggle="tab" href="#tabs-icons-text-3" role="tab" aria-controls="tabs-icons-text-3" aria-selected="false">Countries</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-4-tab" data-toggle="tab" href="#tabs-icons-text-4" role="tab" aria-controls="tabs-icons-text-4" aria-selected="false">Devices</a>
				  </li>
				</ul>  
			</div>
	<!--
			<div class="nav-wrapper">
			<ul class="nav nav-pills nav-fill flex-column flex-sm-row" id="tabs-text" role="tablist">
			  <li class="nav-item">
				<a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-text-1-tab" data-toggle="tab" href="#tabs-text-1" role="tab" aria-controls="tabs-text-1" aria-selected="true">Queries</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link mb-sm-3 mb-md-0" id="tabs-text-2-tab" data-toggle="tab" href="#tabs-text-2" role="tab" aria-controls="tabs-text-2" aria-selected="false">Website Pages</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link mb-sm-3 mb-md-0" id="tabs-text-3-tab" data-toggle="tab" href="#tabs-text-3" role="tab" aria-controls="tabs-text-3" aria-selected="false">Countries</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link mb-sm-3 mb-md-0" id="tabs-text-3-tab" data-toggle="tab" href="#tabs-text-3" role="tab" aria-controls="tabs-text-3" aria-selected="false">Devices</a>
			  </li>
			</ul>    
			</div>
	-->
			<div class="col-xl-12 mb-5 mb-xl-0">
				<div class="card shadow">
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
							<div class="card-header bg-transparent">
								<div class="row align-items-center">
									<h3 class="mb-0">Top Google Searches driving traffic to your website</h3>
								</div>
							</div>
							<div class="table-responsive tablesource">
							  <!-- Projects table -->
							  <table class="table table-striped table-bordered dt-responsive" style="width:100%" id="data_querries">
								<thead class="thead-light">
									<th scope="col">Queries</th>
									<th scope="col">Position</th>
									<th scope="col">Impressions</th>
									<th scope="col">CTR</th>
									<th scope="col">Clicks</th>
								  </tr>
								</thead>
								<tbody class="querries">
								
								</tbody>
							  </table>
							</div>
							<div class="col-md-4 button_export" id="buttons_querry">
<!--
							  <a href="#!" class="btn btn-primary btn-sm">Export</a>
-->
							</div>
						</div>
						<div class="tab-pane fade" id="tabs-icons-text-2" role="tabpanel" aria-labelledby="tabs-icons-text-2-tab">
							<div class="card-header bg-transparent">
								<div class="row align-items-center">
									<h3 class="mb-0">Top website pages based on	Google traffic</h3>
								</div>
							</div>
							<div class="table-responsive">
							  <!-- Projects table -->
							 <table class="table table-striped table-bordered dt-responsive" style="width:100%" id="data_website">
								<thead class="thead-light">
								  <tr>
<!--
									<th scope="col"></th>
-->
									<th scope="col">Pages</th>
									<th scope="col">Position</th>
									<th scope="col">Impressions</th>
									<th scope="col">CTR</th>
									<th scope="col">Clicks</th>
								  </tr>
								</thead>
<!--
								<tbody>
								{% for qa in querries.pages %}
								  <tr>
									<th scope="row">
	<!--
									  1:
	-->
<!--
									</th>
									{% for key in qa.keys %}
										<th scope="row">
										  {{key}}
										</th>
									{% endfor %}
									<td>
									  {{qa.clicks|floatformat}}
									</td>
									<td>
									  {{qa.impressions|floatformat}}
									</td>
									<td>
									 {{qa.ctr|floatformat:1}}
									</td>
									<td>
									{{qa.position|floatformat:1}}
									</td>
								  </tr>
								{% endfor %}
								</tbody>
-->
							  </table>
							</div>
							<div class="col-md-4 button_export" id="buttons_websites">
<!--
							  <a href="#!" class="btn btn-primary btn-sm">Export</a>
-->
							</div>
						</div>
						<div class="tab-pane fade" id="tabs-icons-text-3" role="tabpanel" aria-labelledby="tabs-icons-text-3-tab">
							<div class="card-header bg-transparent">
								<div class="row align-items-center">
									<h3 class="mb-0">Top countries based on Google traffic to your website</h3>
								</div>
							</div>
							<div class="table-responsive">
							  <!-- Projects table -->
							  <table class="table table-striped table-bordered dt-responsive" style="width:100%" id="data_countries">
								<thead class="thead-light">
								  <tr>
<!--
									<th scope="col"></th>
-->
									<th scope="col">Countries</th>
									<th scope="col">Position</th>
									<th scope="col">Impressions</th>
									<th scope="col">CTR</th>
									<th scope="col">Clicks</th>
								  </tr>
								</thead>
								<tbody>
								{% for qa in querries.countries %}
								  <tr>
									<th scope="row">
	<!--
									  1:
	-->
									</th>
									{% for key in qa.keys %}
										<th scope="row">
										  {{key}}
										</th>
									{% endfor %}
									<td>
									  {{qa.clicks|floatformat}}
									</td>
									<td>
									  {{qa.impressions|floatformat}}
									</td>
									<td>
									 {{qa.ctr|floatformat:1}}
									</td>
									<td>
									{{qa.position|floatformat:1}}
									</td>
								  </tr>
								{% endfor %}
								</tbody>
							  </table>
							</div>
							<div class="col-md-4 button_export" id="buttons_countries">
<!--
							  <a href="#!" class="btn btn-primary btn-sm">Export</a>
-->
							</div>
						</div>
						<div class="tab-pane fade" id="tabs-icons-text-4" role="tabpanel" aria-labelledby="tabs-icons-text-4-tab">
							<div class="card-header bg-transparent">
								<div class="row align-items-center">
									<h3 class="mb-0">Top devices based on Google traffic to your website</h3>
								</div>
							</div>
							<div class="table-responsive">
							  <!-- Projects table -->
							 <table class="table table-striped table-bordered dt-responsive" style="width:100%" id="data_devices">
								<thead class="thead-light">
								  <tr>
<!--
									<th scope="col"></th>
-->
									<th scope="col">Devices</th>
									<th scope="col">Position</th>
									<th scope="col">Impressions</th>
									<th scope="col">CTR</th>
									<th scope="col">Clicks</th>
								  </tr>
								</thead>
								<tbody>
								{% for qa in querries.devices %}
								  <tr>
									<th scope="row">
	<!--
									  1:
	-->
									</th>
									{% for key in qa.keys %}
										<th scope="row">
										  {{key}}
										</th>
									{% endfor %}
									<td>
									  {{qa.clicks|floatformat}}
									</td>
									<td>
									  {{qa.impressions|floatformat}}
									</td>
									<td>
									 {{qa.ctr|floatformat:1}}
									</td>
									<td>
									{{qa.position|floatformat:1}}
									</td>
								  </tr>
								{% endfor %}
								</tbody>
							  </table>
							</div>
							<div class="col-md-4 button_export" id="buttons_devices">
<!--
							  <a href="#!" class="btn btn-primary btn-sm">Export</a>
-->
							</div>
						</div>
					</div>
				</div>
			</div>
		  </div>
		</div>
		</div> 
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content report_leads">
		  <div class="m-2 text-center"><h3>Loading...</h3></div>
		</div>
	</div>
</div> 
{% load static %}

<script src="{% static 'js/custom.js' %}" type="text/javascript"></script>
{% elif user.is_authenticated and auth_credentials == None %} 
 <div class="main-content">
	<nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
      <div class="container-fluid">
        <!-- Brand -->
		  {% if companyName == None %}
			<a class="h3 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="/dashboard">{{ user.first_name }}</a>
		  {% else %}
			<a class="h3 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="/dashboard">{{ companyName.company_name }}</a>
		  {% endif %}
        
            <div class="form-group mb-0">
            <p class="h5 mb-0 text-white d-none d-lg-inline-block">Is	data not showing? Please connect your google account in the Settings here.</p>
            </div>
<!--
          <div class="form-group mb-0">
            <div class="input-group">
              <p>Is	data not showing? Please connect your google account in the Settings here.</p>
            </div>
          </div>
-->
        <!-- User -->
        <ul class="navbar-nav align-items-center d-none d-md-flex">
          <li class="nav-item dropdown">
            <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<div class="input-daterange datepicker row align-items-center date_range" id="date_range">
				<div class="col">
					<div class="form-group">
						<div class="input-group input-group-alternative">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
							</div>
							<input class="form-control start_date" placeholder="Start date" type="text"  id="startdate">
						</div>
					</div>
				</div>
				<div class="col">
					<div class="form-group">
						<div class="input-group input-group-alternative">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
							</div>
							<input class="form-control end_date" placeholder="End date" type="text"  id ="enddate">
						</div>
					</div>
				</div>
			</div>
<!--
            <div class="input-daterange datepicker row align-items-center">
                <div class="col">
                    <div class="form-group">
                        <div class="input-group input-group-alternative date_range">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                            </div>
                            <input class="form-control start_date" placeholder="Start date" type="text" id="startdate">
                            <input class="form-control end_date" placeholder="End date" type="text" id ="enddate">
                        </div>
                    </div>
                </div>
            </div>
-->
            </a>
          </li>
        </ul>
      </div>
    </nav>
<div class="dashboard load">
	<div class="m-2 text-center"><h2><a href="/settings">Please connect your google account in the Settings here.</a></h2></div>
</div>
</div>
{% else %}
	<h2><a href = "/login" class = "url">Click Here and Login First</a></h2>
{% endif %}
{% endblock %}
