<div class="modal-headers">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	  <span aria-hidden="true">&times;</span>
	</button>
	<div class="headingmodals">
	<input type="hidden" id="currentLeadName" value="" />
	<h3 class="modal-title lead_title" id="exampleModalLabel">Deloitte Inc.</h3>
	<span class="modal-titles" id="exampleModalLabel">{{leads.0.3}} , {{leads.0.4}}</span>
	
	</div>
	<div class="button-informations">
<!--
		<ul class="nav nav-tabs" id="myTab">
			<li class="active"><a href="#sectionA" type="button"	class="btn	btn-outline-primary	btn-sm">Visit	Information</a></li>
			<li><a href="#sectionB" type="button"	class="btn	btn-outline-primary	btn-sm">LinkedIn Connections</a></li>
		</ul>
-->
	<ul class="nav nav-tabs" id="tabContent">
        <li class="nav-item"><a id="visit-info" type="button"	class="nav-link mb-sm-3 mb-md-0 active btn	btn-outline-primary	btn-sm" href="#visit" data-toggle="tab">Visit	Information</a></li>
        <li class="nav-item"><a id="linked-conn" type="button"	class="nav-link mb-sm-3 mb-md-0 btn	btn-outline-primary	btn-sm" href="#linkedIn" data-toggle="tab">LinkedIn Connections</a></li>
	</ul>
	<script>
		$(function(){
			$('#linked-conn').off('click').on('click',function(){
				var leadName = $('#currentLeadName').val();
				var str = leadName.replace(/\s+/g, '-');
				//~ console.log($('#linkedin_iframe').length)
				if($('#linkedin_iframe').length) {
					$('#linkedin_iframe').attr('src','https://www.linkedin.com/cws/company/insider?companyIdentifier=' + str);
				}
			});
		})
	</script>
	</div>
	
</div>

  
      
<div class="modal-body">
	<div class="tab-content">
        <div class="tab-pane active" id="visit">
			<div class="table-responsive report_leads">
				<table class="table align-items-center">
				<thead class="thead-light">
				  <tr>
					<th scope="col">Date</th>
					<th scope="col">Pages Viewed</th>
					<th scope="col">Total Time</th>
					<th scope="col">Source</th>
					<th scope="col"></th>
				  </tr>
				</thead>
				<tbody>
				{% for lead in leads %}
				  <tr>
					<td >{{lead.0}}</td>
					<td >{{lead.1}}</td>
					<td >{{lead.5}}</td>
					<td >{{lead.2}}</td>
					<td class="remove">
						<button class="btn btn-sm lead-record" data-leaddate="{{lead.0}}"><i class="fa fa-caret-down"></i></button>
					</td>
				  </tr>
				{% endfor %}
				</tbody>
				</table>
			</div>
		</div>
        <div class="tab-pane" id="linkedIn">
			{% if linkedin_status.status_code == 200 %}
				<iframe id="linkedin_iframe" src="" scrolling="no" allowtransparency="true" frameborder="0" border="0" width="1" height="1" style="vertical-align: bottom; width: 800px; height: 283px;"></iframe>
			{% else %}
				<p>Unfortunately, we do not have LinkedIn company data for this lead</p>
			{% endif %}
		</div>
	</div>


</div>
<div class="modal-footer">

</div>
