<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Start your development with a Dashboard for Bootstrap 4.">
  <meta name="author" content="Creative Tim">
  <title>White Label</title>
 
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" rel="stylesheet">
  <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet">
  <link href="https://cdn.datatables.net/buttons/1.5.4/css/buttons.dataTables.min.css" rel="stylesheet">
{% load static %}
  <link rel="stylesheet" href="{% static 'css/argon.min.css' %}">
   <!-- Icons -->
  <link rel="stylesheet" href="{% static 'css/icons/nucleo.css' %}">
  <link rel="stylesheet" href="{% static 'css/icons/fontawesome/all.min.css' %}">
  <script src="{% static 'js/jquery/jquery.min.js' %}"></script>
  <script>
	$(function(){
		$.ajaxSetup({
			beforeSend: function (xhr, settings) {
				xhr.setRequestHeader("X-CSRFToken", $(":input[name='csrfmiddlewaretoken']").val());
			}
		});
	})
  </script>
</head>

<body class="bg-default">
  {% csrf_token %}
   
    {% block content %}
    {% endblock %}

  <!-- Footer -->
<footer class="py-5">
    <div class="container">
      <div class="row align-items-center justify-content-xl-between">
      </div>
    </div>
</footer>
  <!-- Argon Scripts -->
  <!-- Core -->
   <script src="{% static 'js/bootstrap/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<!--
  
https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js
https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js
https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js
-->

  <script src="https://cdn.datatables.net/buttons/1.5.4/js/dataTables.buttons.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.5.4/js/buttons.html5.min.js"></script>
  <!-- Argon JS -->
  <script src="{% static 'js/argon.js' %}" type="text/javascript"></script>
  
</body>

</html>
