{% extends 'base.html' %}
<!-- Page content -->
{% block content %}
  <!-- Main content -->
  <div class="main-content">
    <!-- Top navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
      <div class="container-fluid">
        <!-- Brand -->
        <a class="h3 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="/settings">Settings</a>
            <div class="form-group mb-0 logout_settings">
				 <a  class="nav-link mb-sm-3 mb-md-0" logout" href="/logout">Logout</a>
<!--
            <p class="h5 mb-0 text-white d-none d-lg-inline-block">Is	data not showing? Please connect your google account in the Settings here.</p>
-->
            </div>
<!--
          <div class="form-group mb-0">
            <div class="input-group">
              <p>Is	data not showing? Please connect your google account in the Settings here.</p>
            </div>
          </div>
-->
        <!-- User -->
        <ul class="navbar-nav align-items-center d-none d-md-flex">
          <li class="nav-item dropdown">
            <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<!--
            <div class="input-daterange datepicker row align-items-center">
                <div class="col">
                    <div class="form-group">
                        <div class="input-group input-group-alternative">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                            </div>
                            <input class="form-control" placeholder="Start date" type="text" >
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <div class="input-group input-group-alternative">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                            </div>
                            <input class="form-control" placeholder="End date" type="text">
                        </div>
                    </div>
                </div>
            </div>
-->
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Header -->
    
    <div class="header bg-gradient-primary settings-page pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">
			{% if messages %}
			  <ul class="messages">
				{% for message in messages %}
				   <li{% if message.tags %} class="{{ message.tags }} accounts_error "{% endif %}>{{ message }}</li>
				{% endfor %}
			  </ul>
			{% endif %} 
          <!-- Card stats -->
            <div class="nav-wrapper">  
                <ul class="nav nav-pills nav-fill flex-column flex-sm-row" id="tabs-icons-text" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link mb-sm-3 mb-md-0 active " id="tabs-icons-text-1-tab" data-toggle="tab" href="#tabs-icons-text-1" role="tab" aria-controls="tabs-icons-text-1" aria-selected="true">Profiles</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link mb-sm-3 mb-md-0 {% if active_tab == 'tabs-icons-text-2' %} active{% endif %}" id="tabs-icons-text-2-tab" data-toggle="tab" href="#tabs-icons-text-2" role="tab" aria-controls="tabs-icons-text-2" aria-selected="false">Notifications</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link mb-sm-3 mb-md-0 {% if active_tab == 'tabs-icons-text-3' %} active{% endif %}" id="tabs-icons-text-3-tab" data-toggle="tab" href="#tabs-icons-text-3" role="tab" aria-controls="tabs-icons-text-3" aria-selected="false">Hidden Traffic</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link mb-sm-3 mb-md-0 {% if active_tab == 'tabs-icons-text-4' %} active{% endif %}" id="tabs-icons-text-4-tab" data-toggle="tab" href="#tabs-icons-text-4" role="tab" aria-controls="tabs-icons-text-4" aria-selected="false">Users</a>
                  </li>
				  <li class="nav-item">
                    <a class="nav-link mb-sm-3 mb-md-0 {% if active_tab == 'tabs-icons-text-5' %} active{% endif %}" id="tabs-icons-text-5-tab" data-toggle="tab" href="#tabs-icons-text-5" role="tab" aria-controls="tabs-icons-text-5" aria-selected="false">Accounts</a>
                  </li>
<!--
				  <li class="nav-item">
                    <a class="nav-link mb-sm-3 mb-md-0 {% if active_tab == 'tabs-icons-text-6' %} active{% endif %}" id="tabs-icons-text-6-tab" data-toggle="tab" href="#tabs-icons-text-6" role="tab" aria-controls="tabs-icons-text-6" aria-selected="false">Google Analytics</a>
                  </li>
-->
                </ul>  
			</div>
			
        </div>
      </div>
    </div>
    <!-- Page content -->
{% if user.is_authenticated %}
	<div class="container-fluid mt--8 profile-settings">
		<div class="row">
			<div class="col-xl-12 mb-5 mb-xl-0">
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
						
						<form action="/edit_profile/" method="post">
							{% csrf_token %}
						  <div class="row">
							<div class="col-md-8">
							  <div class="form-group">
								<label>Name:</label>
								 <input type="text" name="first_name" id="id_first_name" value="{{user.first_name}}" class="form-control" placeholder="Full Name" >
<!--
								<input type="text" class="form-control" value={{user.username}} placeholder="Name">
-->
							  </div>
								{% for error in form.username.errors %}
								  <p style="color: red">{{ error }}</p>
								{% endfor %}
							</div>
						  </div><div class="row">
							<div class="col-md-8">
							  <div class="form-group">
								<label>Email:</label>
								<input type="email" name="email" id="id_email" class="form-control" value="{{user.email}}" readonly placeholder="Email">
<!--
								<input type="email" class="form-control" value={{user.email}} autocomplete="off" readonly = true placeholder="name@example.com">
-->
							  </div>
							</div>
						  </div><div class="row">
							<div class="col-md-8">
							  <div class="form-group">
								<label>Password:</label>
								<p>Change Your password with this link: <a href="/change_password" >Change Password</a></p>
<!--
								 <input type="password" name="password" placeholder="Password" class="form-control" id="id_password">
-->
<!--
								<input type="password" class="form-control" value=""  autocomplete="off" placeholder="Password">
-->
							  </div>
<!--
							    {% if form.password.help_text %}
								  <small style="color: grey">{{ form.password.help_text }}</small>
								{% endif %}
								{% for error in form.password.errors %}
								  <p style="color: red">{{ error }}</p>
								{% endfor %}
-->
							</div>
						  </div>
							<button type="submit" class="btn btn-primary mt-4">Save my Information</button>
						</form>
					</div>
					<div class="tab-pane fade" id="tabs-icons-text-2" role="tabpanel" aria-labelledby="tabs-icons-text-2-tab">
						<div class="row">
							<div class="email-notifation">
									<h5><b>Email Notifation:</b>  {{user.email}}</h5>
							
							</div>
						</div>
						<div class="table-responsive notification_data">
							<table class="table align-items-center">
							<thead class="thead-light">
							  <tr>
								<th scope="col">Website Connected</th>
								<th scope="col">weekly Summary</th>
							  </tr>
							</thead>
							<tbody>
							{% if not Companies %}
								  <tr>
									<td scope="row">{{'No website'}}</td>
									
								  </tr>
							{% else %}
								{% for com in Companies %}
									{% if com.company.analytics_url != "" %}
									  <tr>
										<td scope="row">{{com.company.analytics_url}}</td>
										<td  scope="row" class="mark-list"><input class="mark website_url" type="checkbox" name="notifications" value = "{{com.id}}" {% if com.weeklyemailsummary and com.weeklyemailsummary.notify_weekly == True %} checked {% endif %} /></td>
									  </tr>
									{% endif %}
								{% endfor %}
							{% endif %}
							</tbody>
							</table>
						</div>
					</div>
					<div class="tab-pane fade" id="tabs-icons-text-3" role="tabpanel" aria-labelledby="tabs-icons-text-3-tab">
						<div class="row">
							<div class="email-notifation">
									<h5><b>Hidden Companies:</b></h5>
							
							</div>
						</div>
						<div class="table-responsive " style="width:80%">
							<table class="table align-items-center">
							<thead class="thead-light">
							  <tr>
								<th scope="col">Company Name</th>
								<th scope="col">Client Name</th>
								<th scope="col">Date Removed</th>
								<th scope="col"></th>
							  </tr>
							</thead>
							<tbody>
							{% for hidden in hiddenLeads %}
							  <tr>
								<td >{{hidden.lead_name}}</td>
								<td >{{hidden.company.company_name}}</td>
								<td >{{hidden.remove_date|date:"d/m/y"}}</td>
								<td ><a href="/undo?name={{hidden.lead_name}}" class="btn btn-primary btn-sm ">Undo</a></td>
							  </tr>
							{% endfor %}
							</tbody>
							</table>
						</div>
					</div>
					<div class="tab-pane fade" id="tabs-icons-text-4" role="tabpanel" aria-labelledby="tabs-icons-text-4-tab">
						<div class="row">
							<div class="email-notifation">
									<h5><b>Users:</b><button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#inviteUserModal">Invite New User</button></h5>
							
							</div>
						</div>
						<div class="table-responsive user_tb">
							<table class="table align-items-center users_table">
							<thead class="thead-light">
							  <tr>
								<th scope="col">Names</th>
								<th scope="col">Available Views</th>
								<th scope="col"></th>
								<th scope="col"></th>
							  </tr>
							</thead>
							<tbody>
								{% for company_user in users %}
								{% if company_user.profile.is_agency == True and company_user.profile.user_id == user.id %}
								<tr>
								<td>{{company_user.first_name}}</td>
								<td>{% if company_user.companyusers_set.count == clients_companies.count %}All Views{% else %}{% for mycompany in company_user.companyusers_set.all %}{%if mycompany.company.id in clients_companies %}{{mycompany.company.company_name}} {%endif%}{%endfor%}{% endif %}</td>
								{% if company_user.profile.is_agency == False and company_user.profile.user_id != user.id %}
								<td ><button type="button" class="btn btn-success btn-sm agency_user" data-id="{{company_user.id}}" data-toggle="modal" data-target="#editUserModal">Edit</button></td>
								<td ><a href= "/delete_invited_user?id={{company_user.id}}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this user?');">Delete User</a></td>
								{% endif %}
								</tr>
								{% elif company_user.profile.is_agency == False %}
								<tr>
								<td>{{company_user.first_name}}</td>
								<td>{% if company_user.companyusers_set.count == clients_companies.count %}All Views{% else %}{% for mycompany in company_user.companyusers_set.all %}{%if mycompany.company.id in clients_companies %}{{mycompany.company.company_name}} {%endif%}{%endfor%}{% endif %}</td>
								{% if company_user.profile.is_agency == False and company_user.profile.user_id != user.id %}
								<td ><button type="button" class="btn btn-success btn-sm agency_user" data-id="{{company_user.id}}" data-toggle="modal" data-target="#editUserModal">Edit</button></td>
								<td ><a href= "/delete_invited_user?id={{company_user.id}}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this user?');">Delete User</a></td>
								{% endif %}
								</tr>
								{% endif %}
								{% endfor %}
							</tbody>
							</table>
						</div>
					</div>
					<div class="tab-pane fade " id="tabs-icons-text-5" role="tabpanel" aria-labelledby="tabs-icons-text-5-tab">
						<div class="row">
							<div class="email-notifation">
									<h5><b>Companies:</b>{% if user.profile.is_agency == True %}<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#profileModal">Add Client</button>{% endif %}</h5>
							
							</div>
						</div>
						<div class="table-responsive account-conts">
							<table class="table align-items-center">
							<thead class="thead-light">
							  <tr>
								<th scope="col">Company Name</th>
								<th scope="col">Google Accounts</th>
								<th scope="col">Website Connected</th>
								<th scope="col">Status</th>
								<th scope="col"></th>
								<th scope="col"></th>
							  </tr>
							</thead>
							<tbody>
							{% for com in Companies %}
								{% if com.user_id == user.id and com.company.credentials %}
									<tr>
										<td >{{com.company.company_name}}</td>
										<td >Google Analytics</td>
										<td >{{google_analytics_account}}</td>
										<td class = "has-success">Connected</td>
										<td ><button class="btn btn-success btn-sm">Connect</button></td>
										<td ><a href="/deauthorize?id={{com.company.id}}" class="btn btn-danger btn-sm connect-account company_id" onclick="return confirm('Are you sure you want to delete this authorization?');">Remove</a></td>
									  </tr>
									  <tr>
										<td >{{com.company.company_name}}</td>
										<td >Google Search Console</td>
										<td >{{google_search_console}}</td>
										<td class = "has-success">Connected</td>
										<td ><button class="btn btn-success btn-sm">Connect</button></td>
										<td ><a href="/deauthorize?id={{com.company.id}}" class="btn btn-danger btn-sm connect-account company_id" onclick="return confirm('Are you sure you want to delete this authorization?');">Remove</a></td>
									  </tr> 
								{% elif com.user_id == user.id and com.company.credentials == ""  %}
									<tr>
										<td >{{com.company.company_name}}</td>
										<td >Google Analytics</td>
										<td >N/A</td>
										<td class = "has-danger">Not Connected</td>
										<td ><a href="/authorize?id={{com.company.id}}" class="btn btn-success btn-sm connect-account company_id">Connect</a></td>
										<td ><button class="btn btn-danger btn-sm">Remove</button></td>
									  </tr>
									  <tr>
										<td >{{com.company.company_name}}</td>
										<td >Google Search Console</td>
										<td >N/A</td>
										<td class = "has-danger">Not Connected</td>
										<td ><a href="/authorize?id={{company.id}}" class="btn btn-success btn-sm connect-account">Connect</a></td>
										<td ><button class="btn btn-danger btn-sm">Remove</button></td>
									  </tr> 
								{% endif %}
							{% endfor %}
							</tbody>
							</table>
						</div>
<!--
						{% if auth_credentials == None %}  
							<p class="h5 mb-0 text-white d-none d-lg-inline-block">Please connect your google account.</p>
							<div class="form-group mb-0">
								<a href="{% url 'authorize' %}" class="btn btn-danger connect-account">Connect</a>
							</div>
						{% else %}
							<div class="form-group mb-0">
								<a href="" class="btn btn-success connect-account">Connected</a>
							</div>
						{% endif %} 
-->
					</div>
<!--
					<div class="tab-pane fade " id="tabs-icons-text-6" role="tabpanel" aria-labelledby="tabs-icons-text-6-tab">
						<div class="row">
							<div class="email-notifation">
									<h5><b>Google Analytics:</b></h5>
							
							</div>
						</div>
						<form action="/google_accounts/" method="post">
							{% csrf_token %}
						  <div class="row">
							<div class="col-md-8">
							  <div class="form-group">
								{% for google_accounts in analyticsAccounts %}
								<input type="checkbox" id="subscribeNews" name="{{google_accounts.name}}" value="{{google_accounts.id}}">
								<label for="subscribeNews">{{google_accounts.name}}</label><br/>
								{% endfor %}
							  </div>
							</div>
						  </div>
							<button type="submit" class="btn btn-primary mt-4">Save Google Analytics</button>
						</form>
					</div>
-->
				</div>
			</div>
		</div>
	</div>
{% endif %}
<div class="modal fade" id="inviteUserModal" tabindex="-1" role="dialog" aria-labelledby="inviteUserModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered profile_width" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="inviteUserModalLabel">Invite New User</h5>
<!--
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
-->
      </div>
      <form action="/invite_user" method="post" id="invite_form">
	  {% csrf_token %}
      <div class="modal-body">
<!--
		<div class="row">
			<div class="col-md-12">
			  <div class="form-group">
				<input type="text" class="form-control" id="client_username" placeholder="UserName" name="username" >
				<span id="username_client"></span>
			  </div>
			</div>
		</div>
-->
		<div class="row">
			<div class="col-md-12">
			  <div class="form-group">
				<input type="text" class="form-control" id="client_name" placeholder="Full Name" name="fullname">
			  </div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
			  <div class="form-group">
				<input type="email" class="form-control" id="client_email" placeholder="Email Address" name="email">
				<span id="email_client"></span>
			  </div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
			  <div class="form-group">
				<select class="form-control" style="width: 100%" placeholder = "Company Access" id="client_company" name="select_company[]" multiple="multiple" >
					<option value= "default" disabled></option>
					{% if user.profile.is_agency == True %}
						{% for company in Companies %}
						
						<option value="{{company.company_id}}">{{company.company.company_name}}</option>
						{% endfor %}
					{% else %}
						{% for company in Companies %}
						
						<option value="{{company.company_id}}">{{company.company.company_name}}</option>
						{% endfor %}
					{% endif %}
				</select>
			  </div>
			</div>
		</div>
      </div>
      <div class="modal-footer">
		<button type="button" className="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" id="submitUserForm" class="btn btn-primary">Save changes</button>
      </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered profile_width" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editUserModalLabel">Edit User Access</h5>
<!--
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
-->
      </div>
      <form action="/edit_invited_user" method="post" id="edit_form">
	  {% csrf_token %}
      <div class="modal-body">
		<div class="row">
			<div class="col-md-12">
			  <div class="form-group">
				<input type="text" class="form-control" id="edit_client_name"  value = "" readonly placeholder="Full Name" name="fullname">
			  </div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
			  <div class="form-group">
				<input type="email" class="form-control" id="edit_client_email"  value = "" readonly placeholder="Email Address" name="email">
				<span id="email_client"></span>
			  </div>
			</div>
		</div>
		<input type="hidden" class="form-control" id="edit_client_id"  value = "">
		<div class="row">
			<div class="col-md-12">
			  <div class="form-group">
				<select class="form-control" style="width: 100%" placeholder = "Company Access" id="edit_client_company" name="select_company[]" multiple="multiple" >
					{% for company in Companies %}
					<option value="{{company.company_id}}">{{company.company.company_name}}</option>
					{% endfor %}
				</select>
<!--
				<input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Company Access">
-->
			  </div>
			</div>
		</div>
      </div>
      <div class="modal-footer">
		<button type="button" className="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" id="submitUserEditForm" class="btn btn-primary">Save changes</button>
      </div>
      </form>
    </div>
  </div>
</div>

<script>
$(document).ready(function () {
	$('.website_url').click(function(){
		var companyuser_id = $(this).val();
		var notify_weekly = "";
		if($(this).prop("checked") == true){
			notify_weekly = 1;
		}
		else if($(this).prop("checked") == false){
			notify_weekly = 0;
		}
		$.ajax({
			url: '/weekly_email_summaries',
			type: "POST",
			data: {'companyuser_id':companyuser_id,'notify_weekly':notify_weekly},
			success: function(response) {
				setTimeout(function() {
					   window.location.reload();
				  },0);
			},
			error: function(err){
				console.log(err);
			}
		});
	});
	$('#client_company').select2({
		placeholder: "Select an option"
	});
	$('#edit_client_company').select2({
		 
		//~ placeholder: "Select an option"
	});
	$.validator.addMethod("valueNotEquals", function(value, element, arg){
		  return arg !== value;
		}, "Value must not equal arg.");
    $('#invite_form').validate({
		rules: {
			fullname: {
				required: true,
			},
			email: {
				required: true,
				email: true
			},
			"select_company[]": { 
				valueNotEquals: "default"
			 }
		},
		messages:{
			fullname: {
				required: "Enter your fullname",
			},
			email: {
				required: "Please enter email"
			},
			"select_company[]": { 
				valueNotEquals: "Please select an item!"
			}
		}
	});
		
    $("#invite_form").off('submit').on("submit", function(e) {
        e.preventDefault();
        var client_company = [];
        if(!$("#invite_form").valid()) return;
        $("#submitUserForm", this).val("Please Wait...").attr('disabled', 'disabled');
        var formURL = $(this).attr("action");
        //~ console.log(formURL)
        var client_name = $("#client_name").val();
        var client_email = $("#client_email").val();
        var client_company = $("#client_company").val();
        console.group('Form Submittion');
		$.ajax({
			url: formURL,
			type: "POST",
			data: {'client_name':client_name, 'client_email':client_email, 'client_company':JSON.stringify(client_company) },
			success: function(response) {
				console.log(response)
				if(response.email != ""){
					$("#client_email").keyup(function(){
						$("#email_client").text("");
					});
					$("#email_client").text(response.email);
				}
				if(response.success){
					
					setTimeout(function() {
						   window.location.reload();
					},0);
					$('#inviteUserModal').modal('toggle');
				}
				console.groupEnd();
			},
			error: function(err){
				console.log(err);
				console.groupEnd()
			}
		});
    });
     
    $(".agency_user").on("click", function(e) {
		e.preventDefault();
        var id = $(this).data("id");
        $("#edit_client_id").val(id);
        $.ajax({
			url: '/edit_invited_user',
			type: 'get',
			data: {
				id: id,
			},
			success: function(response){
				$("#edit_client_name").val(response.first_name);
				$("#edit_client_email").val(response.email);
				console.log(response)
				for (var i=0; i < response.company_id.length; i++) {             
					$("#edit_client_company option[value='"+response.company_id[i]+"']").attr("selected", true);
				}
				$('#edit_client_company').trigger('change.select2');
			},
			error: function(er){
				console.log(er)
			}
		});
        $('#edit_form').off('submit').on("submit", function(e) {
        e.preventDefault();
        var client_company = [];
        var formURL = $(this).attr("action");
        var edit_client_id =  $("#edit_client_id").val();
        console.log(formURL)
        console.log(edit_client_id)
        var edit_client_name = $("#edit_client_name").val();
        var edit_client_email = $("#edit_client_email").val();
        var edit_client_company = $("#edit_client_company").val();
        console.group('Form Submittion');
		console.log(edit_client_name);
		console.log(edit_client_email);
		console.log(edit_client_company);
		$.ajax({
			url: formURL,
			type: "POST",
			data:  {'edit_client_id':edit_client_id, 'edit_client_company':JSON.stringify(edit_client_company) },
			success: function(response) {
				console.log(response)
				if(response.success){
					setTimeout(function() {
						   window.location.reload();
					},0);
					$('#editUserModal').modal('toggle');
				}
				console.groupEnd();
			},
			error: function(err){
				console.log(err);
				console.groupEnd()
			}
		});
    });
        
	});
     
    //~ $("#submitUserForm").on('click', function() {
		
        //~ $("#invite_form").submit();
    //~ });
});
</script>
{% endblock %}
